<div class="Header">
  <p>Siqma Knowhow </p>
<br/>
  <span style="   position: absolute;
  color: white;
  top: 50%;
  left: 39%;
  font-size: 25px;

  font-weight: lighter ;"> The S&B KnowledgeBase </span>

  <button ngbDropdown class="nav-item dropdown"style="background-color: white; float:right">
  <div>
    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Create New</a>
  </div>
    <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">
      <a class="dropdown-item" (click)="openDialog()" >Parameter</a>
<!--      <a class="dropdown-item " (click)="httpService.addHero('')">Module</a>-->
    </div>
  </button>

</div>

