<div class="Header">

  <div style="position: relative; height: 55px; right: 10px;">
    <button ngbDropdown class="nav-item dropdown"style="position: relative; background-color: white; float: right;">
      <div>
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Create New</a>
      </div>
      <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">
        <a class="dropdown-item" (click)="openDialog()" >Parameter</a>
      </div>
    </button>

  </div>

  <div class="Sigma">
    <p align="center">Siqma Knowhow </p>
  </div>
  <div style=" bottom: 15px;  position: relative;
    text-align: center;
     color: white;
     font-size: 25px;
     font-weight: lighter ;">The S&B KnowledgeBase
  </div>

  <input #mainSearch class="MainSearch"  type="text" (keyup.enter)="httpService.getDataTableNew(mainSearch.value.toLowerCase())"  placeholder="Search" autofocus  />

</div>

