<form [formGroup]="firstFormGroup">
  <mat-form-field>
    <div>
      <input #in type="text" placeholder="Module Name" aria-label="Assignee" matInput
             formControlName="firstCtrl" [matAutocomplete]="auto" required >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of service.data1 | modul_filter:in.value.toString() " [value]="option" (click)="service.getModuleVersionsByModuleId(option.modules_id.toString())">
          {{option.module_name}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field style="float: bottom">
    <div>
      <input #in2 type="text" placeholder="Module Version" aria-label="Assignee" matInput
             formControlName="firstCtrl" [matAutocomplete]="auto2" required [value]="service.latestVersion" >
      <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn2">
        <mat-option *ngFor="let option of service.moduleVersions | modul_version_filter: in2.value.toString()  " [value]="option">
          {{option.version_number}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </mat-form-field>
  <div>
    <button mat-button matDialogClose >Close</button>
    <button mat-button matStepperNext [disabled]="((in.value == '') || (in2.value == ''))" (click)="show(in.value, in2.value)">Next</button>
  </div>
</form>
