<div class="container-fluid">
  <form [formGroup]="registrationForm">
    <div>
      <h6><b>Are there other possible values ?</b></h6>
      <mat-radio-group>
        <mat-radio-button #yes [checked]="true" style="padding-right: 25px">Yes</mat-radio-button>
        <mat-radio-button #no value="2">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="yes.checked" class="form-group">
      <div formArrayName="possibleValues" *ngFor="let possibleValue of possibleValues.controls; let i=index">
        <div [formGroupName]="i">
          <div>
            <mat-form-field>
            <input matInput placeholder="Value" formControlName="newValue" required>
            </mat-form-field>
            <mat-form-field>
            <input matInput placeholder="Description" formControlName="newDescription" (keydown.enter)="addPossibleValues()" required>
            </mat-form-field>
            <button type="button" mat-mini-fab color="warn" (click)="deletePossibleValues(i)">
              <mat-icon>remove circle</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <mat-form-field (click)="addPossibleValues()">
        <input matInput placeholder="Value" [disabled]="true">
      </mat-form-field>
      <mat-form-field (click)="addPossibleValues()">
        <input matInput placeholder="Description" [disabled]="true">
      </mat-form-field>
    </div>
    <div>
      <button mat-button matDialogClose >Close</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="save()" [disabled]="!registrationForm.valid">Next</button>
    </div>
<!--    <button class="btn btn-primary" [disabled]="!registrationForm.valid" type="submit">Register</button>-->
  </form>
  {{registrationForm.status | json}}
  {{registrationForm.value | json}}
</div>

