

<!-- <h1 *ngIf="testate">Name {{testate.configitemname}} </h1>-->
  <form>
<!--     if  linear is false - every step of step available to edit
         if linear is true - each step must have validation.require is valid -->
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Module</ng-template>
     <app-first-step></app-first-step>
  </mat-step>

    <mat-step [stepControl]="secondFormGroup" >
      <ng-template matStepLabel>Config Item Details</ng-template>
      <app-step2 (outToParent)='receiveFromChild($event)' ></app-step2>
<!--      <app-step2></app-step2>-->
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" >
      <ng-template matStepLabel>Config Item Details</ng-template>
      <app-third-step></app-third-step>
    </mat-step>


    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Descriptions</ng-template>
        <app-step4></app-step4>
      </form>
    </mat-step>


<!--************************************      Step 5   ***********************************-->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.

    </mat-step>
  </mat-horizontal-stepper>
  </form>
