<!--  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">-->
<!--    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
<!--  </button>-->
  <form>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Module</ng-template>
        <app-first-step></app-first-step>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Source</ng-template>
        <mat-form-field>
          <input matInput type="text" name="configSourceName" placeholder="Source Name" formControlName="secondCtrl" required #configSourceName>
        </mat-form-field>
        <div>
          <mat-form-field>
            <input matInput type="text" name="configSourceType" placeholder="Source Type Name" formControlName="secondCtrl" required #configSourceType>
          </mat-form-field>
        </div>
        <div>
        <mat-checkbox name="verifiedByExpert" formControlName="secondCtrl" required #verifiedByExpert>verifiedByExpert</mat-checkbox>
        </div>
        <div>
          <mat-checkbox name="dynamicFlag" formControlName="secondCtrl" required #dynamicFlag>dynamicFlag</mat-checkbox>
        </div>
        <div>
          <mat-checkbox name="ignoreFlag" formControlName="secondCtrl" required #ignoreFlag>ignoreFlag</mat-checkbox>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Config Item Type</ng-template>
        <mat-form-field>
          <input matInput type="text" name="configItemType" placeholder="Config Item Type Name" formControlName="thirdCtrl" required #configItemType>
        </mat-form-field>
        <div>
          <mat-form-field>
            <input matInput type="text" name="dataType" placeholder="Data Type Name" formControlName="thirdCtrl" required #dataType>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Descriptions</ng-template>
        <mat-form-field>
          <div>
            <textarea matInput #description formControlName="fourthCtrl"></textarea>
          </div>
        </mat-form-field>
          <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button type = "submit" value= "submit"
                (click)="saveData(description.value ,dataType.value ,configSourceName.value
                ,configSourceType.value ,verifiedByExpert.checked,
                ignoreFlag.checked, dynamicFlag.checked)">
          Save
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  </form>
