.MyClass{
  position: relative;
  width: 600px;
  border-bottom: deepskyblue solid 1px;
}

.MyClass  :hover {
  color: #607D8B;
  /* background-color: #DDD; */
  left: .1em;

}

.Row {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: white;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  /* border-radius: 4px; */

  text-align: center ;
  display: table-cell;

  width: 200px;
  /* border-bottom: solid  1px black; */
}
