{{ResultMessages.messages}}
<div style="position:relative; float: right">
<pagination-controls class="my-pagination" (pageChange) = "p=$event" ></pagination-controls>
</div>
<table>
  <thead>
  <tr>
    <td>ConfigItemName</td>
    <td>ConfigItemType</td>
    <td>Default</td>
    <td>Description</td>
    <td>Device</td>
    <td>ConfigSourceType</td>
    <td>ConfigSourceName</td>
  </tr>
  <tr>
    <td><input [(ngModel)]="searchTerm2" class="Filter" placeholder="Filter"></td>

    <td><input [(ngModel)]="searchTerm" class="Filter" placeholder="Filter"  /></td>
    <td><input class="Filter" placeholder="Filter"  /></td>
    <td><input class="Filter" placeholder="Filter"  /></td>
    <td><input class="Filter" placeholder="Filter"  /></td>
    <td><input class="Filter" placeholder="Filter"  /></td>
    <td><input class="Filter" placeholder="Filter"  /></td>
  </tr>
  </thead>


  <tbody>

  <tr  (click)="openDialog(cell)"  *ngFor="let cell of httpData | paramFilter: searchTerm | paramFilter_id: searchTerm2
| paginate: {itemsPerPage: 10, currentPage: p}  ; let i=index ; ">
    <td>{{cell[0]}}</td>
    <td>{{cell[1]}}</td>
    <td>{{cell[2]}}</td>
    <td>{{cell[3]}}</td>
    <td>{{cell[4]}}</td>
    <td>{{cell[5]}}</td>
    <td>{{cell[6]}}</td>
  </tr>

  </tbody>
</table>






<input class="MainSearch"  type="text" (keyup.enter)="getDataTableNew()" (keyup) = "onEveryClick($event)" placeholder="Search" autofocus  />

