{{ResultMessages.messages}}
<div style="position:relative; float: right">
<pagination-controls class="my-pagination" (pageChange) = "p=$event" ></pagination-controls>
</div>
<table>
  <thead>
  <tr>
    <td>id</td>
    <td>name</td>
    <td>verif</td>
  </tr>
  <tr>
    <td><input [(ngModel)]="searchTerm2" class="Filter" placeholder="Filter" /></td>
    <td><input [(ngModel)]="searchTerm" class="Filter" placeholder="Filter"  /></td>
    <td><input class="Filter" placeholder="Filter"  /></td>
  </tr>
  </thead>


  <tbody>

  <tr  *ngFor="let cell of httpData | paramFilter: searchTerm | paramFilter_id: searchTerm2
| paginate: {itemsPerPage: 5, currentPage: p}  ; let i=index ">
    <td>{{cell.id}}</td>
    <td>{{cell.name}}</td>
    <td>{{cell.verif}}</td>
  </tr>

  </tbody>
</table>






<input class="MainSearch"  type="text" (keyup.enter)="getDataTableNew()" (keyup) = "onEveryClick($event)" placeholder="Search"  />

