New min: {{this.paramService.FullData.minvalue}}
max: {{this.paramService.FullData.maxvalue}}
data Type: {{this.paramService.FullData.dataType.data_types_name}}
<li *ngFor="let i of this.item">
{{this.item[0].config_item_possible_value_description}}
</li>
<div class="container-fluid">
  <form [formGroup]="registrationForm">
    <div>
      <h6><b>Are there other possible values ?</b></h6>
      <mat-radio-group>
        <mat-radio-button #yes [checked]="true" style="padding-right: 25px">Yes</mat-radio-button>
        <mat-radio-button #no (click)="deleteAllPossibleValues(); save()" value="2">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="yes.checked" class="form-group">
      <div formArrayName="possibleValues" *ngFor="let possibleValue of possibleValues.controls; let i=index">
        <div [formGroupName]="i">
          <div>
            <mat-form-field *ngIf="this.paramService.isBoolean">
              <mat-select formControlName="newValue">
                <mat-option value="True" >True</mat-option>
                <mat-option value="False" >False</mat-option>
                <mat-option value="" >None</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="!this.paramService.isBoolean">
            <input matInput type="number" placeholder="Value" formControlName="newValue" required>
            </mat-form-field>
            <mat-form-field>
            <input matInput placeholder="Description" formControlName="newDescription" (keydown.enter)="addPossibleValues()" required>
            </mat-form-field>
            <button type="button" mat-mini-fab color="warn" (click)="deletePossibleValues(i)">
              <mat-icon>remove circle</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <mat-form-field (click)="addPossibleValues(); checkMate()">
        <input matInput placeholder="Value" [disabled]="true">
      </mat-form-field>
      <mat-form-field (click)="addPossibleValues(); checkMate()">
        <input matInput placeholder="Description" [disabled]="true">
      </mat-form-field>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="save()" [disabled]="yes.checked ? (!registrationForm.valid || this.check) : false">Next</button>
    </div>
  </form>
  {{registrationForm.status | json}}
  {{registrationForm.value | json}}

</div>

