<form [formGroup]="fourthFormGroup">
  <div>
    <textarea #description formControlName="fourthCtrl" style="height: 300px; width: 850px; background-color: wheat;" required></textarea>
  </div>
  <div style="right: 500px ">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matDialogClose="" [disabled]="!fourthFormGroup.valid" (click)="ca.checked ? (head.openDialog()) : false ; saveAndPost()" >Create</button>
    <mat-checkbox style="padding-left: 10px; padding-right: 10px" #ca>Create Another</mat-checkbox>
    <button mat-button matDialogClose="">Close</button>
  </div>
  {{fourthFormGroup.status}}
  {{fourthFormGroup.value | json}}
</form>
