.Inputs{
  position: relative;
  width: 50% ;
  left : 70px;
  float: left;
}

.alert{
  height: 20px;
  background: #f2edda;
padding: 1px;
  font-size: .9em;
margin-bottom: 1px;
  display: inline-block;
  animation: 2s alertAnim forwards;

}

@keyframes alertAnim {
  from{ opacity: 0;
    transform: translateY(-20px);
  } to{
        opacity: 1;
  transform: translateY(0);
      }
}
