<!--<form [formGroup]="firstFormGroup">-->
<ng-template matStepLabel>Source</ng-template>

<mat-tab-group>
  <mat-tab label="INI">
    <form [formGroup]="step2FormGroup" style="height: 300px; ">

<!--{{test}}-->
      <div class="Inputs">

        <!--    ********************  paramerename *********************** -->
        <div>
          <mat-form-field>
            <input autocomplete = "off"  #parameterName matInput formControlName="ctrl_ParamName" placeholder="Parameter name" required
                   (keyup)="controlParamnameChanged()">
          </mat-form-field>
        </div>

        <!--    ********************  Sections ?????? *********************** -->
        <div>
          <mat-form-field class="example-full-width">
            <input #input2 (keyup)="ctrl_ConfigItemsSectionsChanged()" matInput [matAutocomplete]="auto2" aria-label="Number" formControlName="ctrl_ConfigItemsSections" placeholder="Section"
                  (click)=" this.httpService.getConfigItemsSections() "
                   type="text">
<!--                   formControlName="step2input2">-->

            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="displaySections">
              <mat-option
                *ngFor="let ok of httpService.ConfigItemSectionsData | sectionfilter: input2.value " [value]="ok"
                (onSelectionChange)="ctrl_ConfigItemsSectionsClick(ok.config_item_section_name)">
                {{ok.config_item_section_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!--    ********************  end Section *********************** -->

        <!--    ********************  DataType *********************** -->
        <mat-form-field class="example-full-width">

          <input #input1 type="text" placeholder="Datatype" aria-label="Number" matInput required  [matAutocomplete]="auto1"
                 (click)="this.httpService.getDataByUrl('/data_types')"
                 formControlName="ctrl_DataType" >

          <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let o of httpService.outData | datatypefilter: input1.value " [value]="o"
              (onSelectionChange)="ctrl_DataTypeChanged(o)">
              {{o.data_types_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <!--    ********************  end DataType *********************** -->
<!--        <div *ngIf="this.paramService.isBoolean">-->
<!--          bool-->
<!--        </div>-->
<!--        <div *ngIf="!this.paramService.isBoolean">-->
<!--          no bool-->
<!--        </div>-->


      </div>


      <!--    ********************  next column *********************** -->
      <div style="position: relative; width: 300px; float: right; right: 70px; ">

        <div *ngIf="this.paramService.isBoolean">
          <mat-form-field>
            <mat-select [(value)]="this.paramService.FullData.defaultvalue" >
              <mat-option value="True" >True</mat-option>
              <mat-option value="False" >False</mat-option>
              <mat-option value="" >None</mat-option>
            </mat-select>
          </mat-form-field>
          <!--                to see what value we get from selection-->
<!--          <p>&#45;&#45;&#45;&#45;{{this.paramService.FullData.defaultvalue}}&#45;&#45;&#45;&#45;</p>-->
        </div>

        <!--    ********************  defaultvalue *********************** -->
        <div *ngIf="!paramService.isBoolean">
          <mat-form-field>
            <input  autocomplete = "off"  #defaultValue formControlName="ctrl_DefaultValue" type="{{this.contoltype}}" matInput placeholder="default value"
                    (keyup)="ctrl_DefaultValueChanged()" >
          </mat-form-field>
        </div>
        <!--   ********************************************************     -->


        <!--    ********************  maxvalue *********************** -->

        <div *ngIf="!paramService.isBoolean">
          <mat-form-field>
            <input autocomplete = "off"  #maxValue formControlName="ctrl_MaxValue" type="number" matInput placeholder="Max value"
                   (keyup)="ctrl_MaxValueChanged()" >
          </mat-form-field>
        </div>
        <!--*******************      messaging      *******************-->
        <!--      <div class="alert" *ngIf="!step2FormGroup.controls['step2Max'].valid && step2FormGroup.controls['step2Max'].touched">-->
        <!--        <p style="color: cornflowerblue">max value can't be less min value  </p>-->
        <!--      </div>-->
        <!--   *********************************************************   -->

        <!--    ********************  minvalue *********************** -->
        <div *ngIf="!paramService.isBoolean">
          <mat-form-field>
            <input autocomplete = "off" #minValue formControlName="ctrl_MinValue" type="number" matInput placeholder="Min value"
                   (keyup)="ctrl_MinValueChanged()" >
          </mat-form-field>
        </div>




<!--      <div style="margin-left: auto; width: 300px;">-->
      <div style=" float: left ; padding-right:  20px;">
        <mat-checkbox  #checkboxDynamicFlag  (change)="DynamicFlagChanged(checkboxDynamicFlag.checked)">dynamic flag </mat-checkbox>
      </div>
      <div style="">
        <mat-checkbox  #checkboxReadOnly (change)="ReadOnlyFlagChanged(checkboxReadOnly.checked)" >read only</mat-checkbox>
      </div>


<!--    for test   -->
<!--      <li *ngIf="SectionObject">-->
<!--    id num {{SectionObject.config_item_name}}-->
<!--      </li>-->
<!--</div>-->
        <div mat-dialog-actions style=" position: relative ; " >


          <button mat-button matStepperPrevious style=" position: relative; background: #dfdfdf" >back</button>
          <button mat-button matStepperNext style="position: relative; background: #dfdfdf" [disabled]="step2FormGroup.invalid">next</button>

        </div>
<!--     old type of buttons   -->
<!--      <div mat-dialog-actions style=" position: relative ; " >-->

<!--&lt;!&ndash;        <button mat-button mat-dialog-close>Close</button>&ndash;&gt;-->
<!--        <button mat-button  mat-dialog-close style="position: relative; background: #dfdfdf">Close</button>-->
<!--        <button mat-button matStepperPrevious style=" position: relative; background: #dfdfdf" >back</button>-->
<!--        <button mat-button matStepperNext style="position: relative; background: #dfdfdf">next</button>-->
<!--        &lt;!&ndash;    <button mat-button [mat-dialog-close]="data.color" cdkFocusInitial>Ok</button>&ndash;&gt;-->
<!--      </div>-->
    </div>







</form>
  </mat-tab>


  <!--************************************************************************************************************************************-->
  <!--************************************************************************************************************************************-->
  <!--************************************************ * * * * * * ***********************************************************************-->
  <!--**************************************** ** *  *  Properties  * * * * *************************************************************-->
  <!--************************************************* * * * * * * **********************************************************************-->
  <!--************************************************************************************************************************************-->
  <!--************************************************************************************************************************************-->
  <!--************************************************************************************************************************************-->
<!--  <mat-tab label="PROPERTY" (click)="SetConfigItemTypes('Property')">-->
<!--  <mat-tab label="PROPERTY" >-->
<!--&lt;!&ndash;    <form [formGroup]="step2FormGroup">&ndash;&gt;-->
<!--    <form>-->
<!--    <div class="Inputs">-->

<!--      &lt;!&ndash;    ********************  paramerename *********************** &ndash;&gt;-->
<!--      <div>-->
<!--        <mat-form-field class="">-->
<!--          <input #parameterName matInput formControlName="step2Ctrl" placeholder="Parameter name" value="" required>-->
<!--        </mat-form-field>-->
<!--        &lt;!&ndash;    ********************  defaultvalue *********************** &ndash;&gt;-->
<!--      </div>-->
<!--      <mat-form-field class="">-->
<!--        <input #defaultValue matInput placeholder="Default value" value="">-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;    ********************  minvalue *********************** &ndash;&gt;-->
<!--      <div>-->
<!--        <mat-form-field class="">-->
<!--          <input #minValue type="number" matInput placeholder="Min value" value="">-->
<!--        </mat-form-field>-->
<!--        &lt;!&ndash;    ********************  maxvalue *********************** &ndash;&gt;-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-form-field class="">-->
<!--          <input #maxValue type="number" matInput placeholder="Max value" value="">-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--    </div>-->
<!--    &lt;!&ndash;    ********************  next column *********************** &ndash;&gt;-->
<!--    <div style="position: relative; width: 300px; float: right; right: 70px">-->

<!--      &lt;!&ndash;    ********************  DataType *********************** &ndash;&gt;-->
<!--      <mat-form-field class="example-full-width">-->

<!--        <input #input1 type="text" placeholder="Datatype" aria-label="Number" matInput required  [matAutocomplete]="auto1"-->
<!--                 (click)="this.httpService.getDataByUrl('/data_types')"-->
<!--               formControlName="step2input1">-->

<!--        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFn">-->
<!--          <mat-option-->
<!--            *ngFor="let o of httpService.outData | datatypefilter: input1.value " [value]="o"-->
<!--             >-->
<!--            {{o.data_types_name}}-->
<!--          </mat-option>-->
<!--        </mat-autocomplete>-->
<!--      </mat-form-field>-->
<!--      &lt;!&ndash;    ********************  end DataType *********************** &ndash;&gt;-->


<!--      <div>-->
<!--        <mat-checkbox #checkboxDinamicFlag >dinamic flag </mat-checkbox>-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-checkbox #checkboxReadOnly>read only</mat-checkbox>-->
<!--      </div>-->

<!--      <div mat-dialog-actions >-->

<!--        &lt;!&ndash;        <button mat-button mat-dialog-close>Close</button>&ndash;&gt;-->
<!--        <button mat-button  mat-dialog-close style="alignment: right ; background: #dfdfdf">Close</button>-->
<!--        <button mat-button matStepperPrevious style="alignment: right ; background: #dfdfdf" >back</button>-->
<!--        <button mat-button matStepperNext style="alignment: right ; background: #dfdfdf"-->
<!--                (click)="saveOthers( parameterName.value, defaultValue.value,minValue.value,maxValue.value,-->
<!--                checkboxDinamicFlag.checked,checkboxReadOnly.checked)">-->
<!--          &lt;!&ndash;       получаем значение чекбокс   checkbox1.checked&ndash;&gt;-->
<!--          next-->
<!--        </button>-->
<!--        &lt;!&ndash;    <button mat-button [mat-dialog-close]="data.color" cdkFocusInitial>Ok</button>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    </form>-->
<!--  </mat-tab>-->
  <!--************************************************************************************************************************************-->
  <!--************************************************************************************************************************************-->
  <!--************************************************ * * * * * * ***********************************************************************-->
  <!--**************************************** ** *  *  xml         * * * * *************************************************************-->
  <!--************************************************* * * * * * * **********************************************************************-->
  <!--************************************************************************************************************************************-->
  <!--************************************************************************************************************************************-->
  <!--************************************************************************************************************************************-->



  <mat-tab label="XML"> Content 3 </mat-tab>
</mat-tab-group>
<!--{{step2FormGroup.status | json}}-->
<!--{{step2FormGroup.value | json}}-->

